doctype html
html(lang="ru")
    include partails/head.pug
    body

        //compound

        main
            .row.margin-bottom
                .block Входящий звонок

            .row.margin-bottom
                .block.arrow Приветствие

            .row.margin-bottom
                .block.arrow Спросить имя

            .row.margin-bottom
                .block.arrow Источник

            .row.margin-bottom
                .block.arrow Город

            .row.margin-bottom
                .block.arrow.margin-bottom Готовность

                .row-2.margin-bottom
                    .block.arrow.left(data-content="#i-understand" data-close='.content.level-1') Я думал готовое
                    .block.arrow.right(data-content="#i-think" data-close='.content.level-1')     Да, я понимаю.#[br] Какие условия?

                .row
                    .content.level-1#i-think
                        .row-4.margin-bottom
                            .block.arrow.left-more(data-content="#i-1" data-close='.content.level-2') Наличные
                            .block.arrow.left(data-content="#i-2" data-close='.content.level-2') Материнский капитал
                            .block.arrow.left(data-content="#i-3" data-close='.content.level-2') Ипотека
                            .block.arrow.right(data-content="#i-4" data-close=".content.level-2") Бартер


                        .row
                            .content.level-2#i-1
                                .card.
                                    1 Товарищи! постоянный количественный рост и сфера нашей активности играет важную роль в формировании форм развития. Таким образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки новых предложений. Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития. Таким образом новая модель организационной деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.

                            .content.level-2#i-2
                                .row-2.margin-bottom
                                    .block.arrow.left(data-content="#3-year" data-close='.content.level-3') Ребенку есть 3 года

                                    .block.arrow.right-more(data-content="#not-3-year" data-close='.content.level-3') Ребенку нет 3 лет

                                .row
                                    .content.level-3#3-year
                                        .card.
                                            Если Ребенку есть 3 года

                                    .content.level-3#not-3-year
                                        .card.
                                            Если Ребенку нет 3 лет

                            .content.level-2#i-3
                                .card.
                                    3 Товарищи! постоянный количественный рост и сфера нашей активности играет важную роль в формировании форм развития. Таким образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки новых предложений. Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития. Таким образом новая модель организационной деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.

                            .content.level-2#i-4
                                .card.
                                    Спросить у РОП


                    .content.level-1#i-understand
                        .card.
                            Товарищи! постоянный количественный рост и сфера нашей активности играет важную роль в формировании форм развития. Таким образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки новых предложений. Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития. Таким образом новая модель организационной деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.



        //sidebar

        aside.sidebar
            h2.sidebar__title Работа с возражениями
            ul.question
                li.question__item Дорого
                    span.question__cross ╳
                    div.question__content.
                        Товарищи! постоянный количественный рост и сфера нашей активности играет важную роль в формировании форм развития. Таким образом укрепление и развитие структуры
                li.question__item Качество
                    span.question__cross ╳
                    div.question__content.
                        Товарищи! постоянный количественный рост и сфера нашей активности играет важную роль в формировании форм развития. Таким образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Повседневная практика показывает, что реализация
                li.question__item Посоветоваться
                    span.question__cross ╳
                    div.question__content.
                        Товарищи! постоянный количественный рост и сфера нашей активности играет важную роль в формировании форм развития. Таким образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки новых предложений. Не следует, однако забывать, что рамки



            h2.sidebar__title Штрафы
            ul.fine
                li.fine__item Попытка продать втихоря - 1000 руб.
                li.fine__item Оскорбление - 500 руб.




        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="js/main.js")

