@import 'partails/normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body{
    font-size: 13px;
    display: grid;
    grid-template-columns: 80% 20%;
    font-family: 'Roboto', sans-serif;
}

body * {
    box-sizing: inherit;
}



/* Helpers */


    .margin-bottom{
        margin: 0 0 90px;
    }


    .row {
        width: 100%;
        display: grid;

        @for $i from 1 through 4 {
            &-#{$i} {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(#{$i}, 1fr);
            }
        }
    }


    .arrow {
        &:before {
            content: '';
            position: absolute;
            top: -60px;
            left: 50%;
            opacity: 0.5;
            transform: translateX(-50%);
            display: inline-block;
            background-image: url('http://dev-postnov.ru/works/business-process/down-arrow.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 40px;
            height: 40px;
        }

        &.right:before {transform: translateX(-50%) rotate(-60deg);}
        &.right-more:before {transform: translateX(-50%) rotate(-80deg);}
        &.left:before {transform: translateX(-50%) rotate(60deg);}
        &.left-more:before {transform: translateX(-50%) rotate(80deg);}
    }






/*-----------------*\
       MAIN
\*-----------------*/


    main {
        padding: 30px;
        min-height: 2000px;
    }



    .block {
        display: grid;
        align-items: center;
        justify-items: center;
        color: #fff;
        font-size: 18px;
        max-width: 250px;
        width: 100%;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        background-color: rgb(0, 121, 191);
        padding: 20px;
        text-align: center;
        border-radius: 3px;

        &.disable {opacity: 0.3;}
        &[data-content] {cursor: pointer;}
    }

    .content {
        display: none;
    }

    .card {
        background-color: #e2e4e6;
        border-radius: 3px;
        max-height: 100%;
        position: relative;
        white-space: normal;
        color: #555;
        font-size: 16px;
        padding: 15px;
        line-height: 1.5;
        max-width: 500px;
        margin: 0 auto;
    }




/*-----------------*\
       SIDEBAR
\*-----------------*/



    .sidebar {
        padding: 0 20px;
        background-color: rgb(0, 121, 191);
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 20%;

        &__title {
            color: #fff;
            font-weight: 300;
            font-size: 22px;
            margin: 40px 0;
        }

    }

    .question {
        padding-left: 0;
        list-style: none;

        &__item {
            position: relative;
            font-size: 15px;
            background-color: #fff;
            border-radius: 3px;
            padding: 20px 25px;
            margin-bottom: 10px;
            box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .5);
            transition: .3s all;
            cursor: pointer;

            &:hover {
                background: #eee;
            }
        }

        &__cross {
            font-size: 13px;
            position: absolute;
            right: 20px;
            top: 20px;
            opacity: 0;
            visibility: hidden;

            &.show{
                opacity: 1;
                visibility: visible;
            }
        }

        &__content {
            display: none;
            border-top: 1px solid #eee;
            margin-top: 15px;
            line-height: 1.5;
            padding: 10px 0;

            &.show {
                display: block;
            }
        }
    }


    .fine {
        padding-left: 0;
        list-style: none;
        font-size: 16px;
        margin: 0;

        &__item{
            padding: 20px;
            color: #fff;
            margin-bottom: 10px;
            background-color: #751325;
        }
    }